#skill_info::-webkit-scrollbar{
    display: none;
}
#about_info::-webkit-scrollbar{
    display: none;
}
#message::-webkit-scrollbar{
    display: none;
}
#skills div:nth-child(1)::-webkit-scrollbar{
    display: none;
}